<button type="button" name="startButton" id="startButton">Start <i class="fas fa-chevron-circle-right"></i></button>
<div class="modal">
    <h2 class="modal-title">Select players</h2>

    <div class="info-box"></div>

    <button type="button" name="nextButton" id="nextButton">Next</button>
    <div class="select-items">
    </div>
</div>

<div class="game">
    <div class="board">
        <aside class="info">
            <div class="enemy">

            </div>
            <div class="me">
                <div class="two-cols-50">
                    <div class="leader-place">

                    </div>
                    <div class="clicked-card">

                    </div>
                </div>
                <div class="cards-place">

                </div>
            </div>
        </aside>
        <div class="field">
            <div class="enemy">
                <div class="line goalkeeper-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line defense-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line middle-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line attack-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
            </div>
            <div class="me">
                <div class="line attack-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line middle-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line defense-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
                <div class="line goalkeeper-line">
                    <div class="line-score">
                        <span>0</span>
                    </div>
                    <div class="cards-place">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="myhand">

    </div>
</div>
